{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10",
            "safari >= 7"
          ]
        }
      }
    ],
    "@babel/react"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "direct-import",
          {
            "modules": [
              "@material-ui/core",
              "@material-ui/icons"
            ]
          }
        ],
        [
          "@babel/proposal-decorators", { "legacy": true }
        ],
        [
          "@babel/proposal-class-properties", { "loose": true }
        ],
        [
          "@babel/transform-classes"
        ],
        [
          "@babel/transform-regenerator"
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "direct-import",
          {
            "modules": [
              "@material-ui/core",
              "@material-ui/icons"
            ]
          }
        ],
        [
          "@babel/proposal-decorators", { "legacy": true }
        ],
        [
          "@babel/proposal-class-properties", { "loose": true }
        ],
        [
          "@babel/transform-classes"
        ],
        [
          "@babel/transform-regenerator"
        ]
      ]
    }
  }
}